jupyter
pandas
python-dotenv
langchain
langchain-ollama
langchain-community
langfuse
jsonlines
tqdm
huggingface-hub
generative-ai-hub-sdk[all]
sparqlwrapper
langchain-qdrant
qdrant-client
streamlit
watchdog